<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dianetics Home</title>
    <link rel="stylesheet" href="/static/dianetics/css/sidebar.css">
    <link rel="stylesheet" href="/static/dianetics/css/dianetics.css">
</head>
<body>
<aside class="sidebar">
    <div class="logo-container">
        <img src="/static/dianetics/assets/dianetics-logo.png" alt="Logo" class="logo">
        <h1>Department of the Hubbard Dianetics Foundation</h1>
    </div>
    <nav class="nav">
        <a href="/"> ⬅️ Go Back</a>
        <a href="/dianetics" class="active">Preclears</a>
    </nav>
</aside>

<main class="main">
    <h2>Preclears List</h2>
    <ul id="preclear-list"></ul>
</main>

<script src="/static/dianetics/js/load_pcs.js"></script>
<script src="/static/dianetics/js/theme.js"></script>
</body>
</html>
