<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ledger</title>
    <link rel="stylesheet" href="/static/ledger/css/debts/debts.css">
    <link rel="stylesheet" href="/static/ledger/css/ledger/sidebar.css">
</head>
<body>
<aside class="sidebar">
    <h1>Ledger</h1>
    <nav class="nav">
        <a href="/"> ⬅️ Go Back</a>
        <a href="/ledger">Accounts</a>
        <a href="/ledger/planning">Financial Planning</a>
        <a href="/ledger/debts" class="active">Debts</a>
        <a href="/ledger/invoices">Invoices</a>
    </nav>
</aside>

<main class="main">
</main>
</body>
</html>
